<table cellpadding="0" cellspacing="0">
<tr>
<td><img src="http://farm1.staticflickr.com/184/410446108_608406ef64_o.png" width="75" height="50"></td>
<td><img src="http://farm1.staticflickr.com/20/70238078_0113cbebb3.jpg" width="75" height="50"></td>
<td><img src="http://farm1.staticflickr.com/73/201494211_138fbbb075_o.jpg" width="75" height="50"></td>
<td><img src="http://farm4.staticflickr.com/3347/3486016747_07a80d304b_o.jpg" width="75" height="50"></td>
<td><img src="http://farm8.staticflickr.com/7158/6621916879_11f7a41dbf_o.jpg" width="75" height="50"></td>
</tr>

</table>

<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>What are your favourite sandwich spreads?</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<tbody>
<% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic %></td>
    <td><%= pluralize(topic.votes.length, "vote") %></td>
    <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
    <td><%= link_to 'Remove', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Topic', new_topic_path %>
